<h1><%= @title %></h1>
<%= form_tag @action, :class => 'form-horizontal' do %>
  <div class="control-group">
    <%= label_tag :addresses, 'IP Addresses', :class => 'control-label' %>
    <div class="controls">
      <%= text_area_tag :addresses, '', :class => 'text_area', :rows => 7 %>
      <div>
        One address or range per line. Formats:
        <ul>
          <li>single_ip [tags]
          <li>start_ip [-] end_ip [tags]
          <li>cidr_range [tags]
        </ul>
        Examples:
        <ul>
          <li>10.0.0.1 tag1 tag2
          <li>10.0.0.1-10.0.2.255
          <li>10.0.0.1 - 10.0.2.255
          <li>10.0.0.1/20
        </ul>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :tags, 'Tags', :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag :tags, '', :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :region_id, 'Region', :class => 'control-label' %>
    <div class="controls">
      <%= select_tag :region_id, options_from_collection_for_select(@regions, "id", "name", @region_id), :class => 'number_field' %>
    </div>
  </div>
  
  <div class="form-actions">
    <%= submit_tag nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel',
                ip_addresses_path, :class => 'btn' %>
  </div>
<% end %>
