<%- model_class = IpAddress -%>
<div class="page-header">
  <h1><%= @addresses.count %> hosts with open ports</h1>
</div>
<%= link_to "Download CSV", nate_report_ip_addresses_path(:format => :csv) %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:address) %></th>
<% @common_ports.each do |port| %>
      <th><%= port %></th>
<% end %>
      <th>Other Ports</th>
    </tr>
  </thead>
  <tbody>
    <% @addresses.each do |ip_address| %>
    <% ports = ip_address.port_numbers %>
      <tr>
        <td><%= link_to ip_address.address_and_hostname, ip_address_path(ip_address) %></td>
        <% @common_ports.each do |port| %>
          <td>
            <%= 'X' if ports.include? port %>
          </td>
        <% end %>
        <td>
          <%= (ip_address.port_numbers - @common_ports).join ', ' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

