<%- model_class = IpAddress -%>
<div class="page-header">
  <h1><%= @ip_address.address_and_hostname %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:tags) %>:</strong></dt>
  <dd>
    <% if @ip_address.tags.any? %>
      <% @ip_address.tags.each do |tag| %>
        <%= link_to tag.name, tagged_ip_addresses_url(:tag => tag.name) %>
      <% end %>
    <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:region_id) %>:</strong></dt>
  <dd><%= @ip_address.region.name %></dd>
</dl>

<h2>Open ports</h2>
<% if @ip_address.ports.any? %>
  <%= render partial: 'ports/ports',
      object: @ip_address.ports.order(:number), locals: {show: :port} %>
<% else %>
  No open ports found (yet)!
<% end %>

<% unless @ip_address.nessus_results.empty? %>
<h2>Nessus results</h2>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Severity</th>
      <th>Location</th>
      <th>Plugin Name</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% @ip_address.nessus_results.eager_load(:nessus_plugin).order('nessus_plugins.severity DESC').each do |nessus_result| %>
    <tr>
      <td><%= nessus_result.nessus_plugin.severity %></td>
      <td><%= nessus_result.ports.map{|port, details| h(port)}.join('<br />').html_safe %></td>
      <td><%= link_to nessus_result.nessus_plugin.name, nessus_result.nessus_plugin %></td>
      <td><%= simple_format nessus_result.output %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<div class="form-actions">
  <%= link_to 'Back',
              ip_addresses_path, :class => 'btn'  %>
  <%= link_to 'Edit',
              edit_ip_address_path(@ip_address), :class => 'btn' %>
  <%= link_to 'Destroy',
              ip_address_path(@ip_address),
              :method => 'delete',
              :data => { :confirm => 'Are you sure?' },
              :class => 'btn btn-danger' %>
</div>
