<%- model_class = Region -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @region.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:utc_start_test) %>:</strong></dt>
  <dd><%= @region.utc_start_test %></dd>
  <dt><strong><%= model_class.human_attribute_name(:utc_end_test) %>:</strong></dt>
  <dd><%= @region.utc_end_test %></dd>
</dl>

<div class="form-actions">
  <%= link_to 'Back',
              regions_path, :class => 'btn'  %>
  <%= link_to 'Edit',
              edit_region_path(@region), :class => 'btn' %>
  <%= link_to 'Delete',
              region_path(@region),
              :method => 'delete',
              :data => { :confirm => 'Are you sure?' },
              :class => 'btn btn-danger' %>
</div>
